@tailwind base;
@tailwind components;





@font-face { 
  font-family: 'Inter-Bold';
  src: url('../public/fonts/Inter-Bold.ttf');
}

@font-face { 
  font-family: 'Inter-Regular';
  src: url('../public/fonts/Inter-Regular.ttf');
}

@font-face { 
  font-family: 'SF-BOLD';
  src: url('../public/fonts/SF-Pro-Display-Bold.otf');
}

@font-face { 
  font-family: 'SF-MEDIUM';
  src: url('../public/fonts/SF-Pro-Display-Medium.otf');
}

@font-face { 
  font-family: 'SF-BLACK';
  src: url('../public/fonts/SF-Pro-Display-Black.otf');
}

@font-face { 
  font-family: 'SF-NORMAL';
  src: url('../public/fonts/SF-Pro-Display-Regular.otf');
}


/* fonts */
@tailwind utilities;